@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background: #030712;
}

h1, h2, h3, p, strong, small, h4, span{
    color: white;
}

.login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}

.login-form{
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 380px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2rem;
}

.heading-container{
    display: flex;
    flex-direction: column; 
    text-align: center;
    margin-bottom: 2rem;
}

.login-heading{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -1.5px;
}

.login-description{
    /* font-size: 16px; */
    margin-top: 5px;
    letter-spacing: -0.7px;
}

.username-label, .pass-label{
    margin-bottom: 0px;
    letter-spacing: -0.7px;
}

#username-input, #pass-input{
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
}

input{
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.login-btn{
    padding: 15px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: -0.7px;
}

